<footer class="app-footer">
  <div class="container-fluid px-3 px-lg-4 py-3 d-flex flex-wrap justify-content-between gap-2">
    <span>
      State topics: <code class="topic">{{ baseTopic }}/&lt;room&gt;/&lt;device&gt;/&lt;variable&gt;</code>
      &nbsp;·&nbsp;
      Commands: <code class="topic">{{ baseTopic }}/&lt;room&gt;/&lt;device&gt;/set</code>
    </span>
    <span>SmartHome · MQTT-driven automation platform</span>
  </div>
</footer>
